@font-face {
    font-family: fRegular;
    src: url('UTM Swiss Condensed.ttf');
}

@font-face {
    font-family: fBold;
    src: url('UTM Swiss CondensedBold.ttf');
}

body {
    background-color: #f4f3f3;
    font-size: 16px;
    font-family: fRegular;
}

b {
    font-family: fBold;
}

a {
    color: #182b77;
}

a:hover {
    color: #182b77;
}

.margin-v-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

#top-navbar {
    background-color: #182b77;
    color: #FFF;
    font-size: 14px;
}

#top-navbar.affix-top {
    padding-bottom: 10px;
}

#top-navbar.affix .nav-1 {
    display: none;
}

#top-navbar.affix-top .logo img {
    max-height: 90px;
}

#top-navbar.affix .logo img {
    max-height: 50px;
}

#top-navbar .navbar-toggle {
    background-color: #efeff0;
    margin-right: 0;
}

#top-navbar ul {
    display: inline-block;
}

#top-navbar ul li {
    float: left;
    margin-left: 30px;
    line-height: 30px;
}

#top-navbar ul li:first-child {
    list-style-type: none;
}

#top-navbar a {
    color: inherit;
}

#top-navbar .form-control {
    border-radius: 0;
    border: none;
    height: 37px;
}

#top-navbar .input-group-btn .btn {
    background-color: #fc3d35;
    border: none;
    color: #FFF;
    margin: 0;
    border-radius: 0;
    height: 37px;
}

#top-navbar .nav-2 {
    margin-top: 8px;
}

#top-navbar .nav-2 a {
    margin-left: 20px;
    text-decoration: none;
}

#top-navbar .nav-2 a i.fa-inverse {
    color: #182b77;
}

#main {
    background-color: #FFF;
    padding-top: 120px;
    box-shadow: 0 0 1px 1px #CCC;
    padding-left: 30px;
    padding-right: 30px;
}

#top-main {
    margin-bottom: 20px;
    z-index: 1;
    margin-left: -30px;
    margin-right: -30px;
}

#top-main.affix {
    top: 100px;
}

#top-navbar.affix + #top-main {
    top: 50px;
}

#top-main.affix + .home-products{
    margin-top: 100px;
}

.page-product #top-main .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    height: 47px;
    line-height: 34px;
}

#cate-menu {
    text-transform: uppercase;
    position: relative;
}

#cate-menu #menu-btn {
    background-color: #efeff0;
    padding: 10px 15px 5px 15px;
    display: block;
    color: #666666;
    font-weight: bold;
    text-decoration: none !important;
}

#cate-menu #menu-divider {
    border-top: 1px solid #d4d4d4;
    margin: 0 15px;
}

#cate-menu .menu .shoe {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 5px;
}

#cate-menu:hover #menu-btn + #menu-collapse {
    display: block;
}

#cate-menu #menu-collapse {
    position: absolute;
    width: 100%;
    display: none;
    background-color: #efeff0;
    z-index: 1;
}

#cate-menu #menu-collapse.in {
    display: block;
}

#cate-menu #menu-collapse a {
    display: block;
    text-decoration: none;
    line-height: 28px;
    color: #757575;
}

#cate-menu #menu-collapse .menu > a {
    padding: 7px 15px;
}

#cate-menu #menu-collapse .menu:hover > a {
    color: #FFF;
}

#cate-menu #menu-collapse .menu {
    position: relative;
}

#cate-menu #menu-collapse .submenu {
    display: none;
    position: absolute;
    background-color: rgba(239, 239, 240, 0.7);
    left: 100%;
    top: 0;
    width: 60%;
    z-index: 1;
}

#cate-menu #menu-collapse .menu:hover .submenu {
    display: block;
}

#cate-menu #menu-collapse .menu:hover .submenu a {
    padding: 4px 20px;
}

#cate-menu .menu.c-giaynam .shoe {
    background: transparent url('images/xam_giaynam.png') no-repeat center center;
}

#cate-menu .menu.c-giaynam:hover {
    background-color: #F09745;
}

#cate-menu .menu.c-giaynam:hover .shoe {
    background: transparent url('images/giaynam.png') no-repeat center center;
}

#cate-menu #menu-collapse .menu.c-giaynam .submenu {
    border-left: 5px solid #F09745;
}

#cate-menu #menu-collapse .menu.c-giaynam:hover .submenu a:hover {
    background-color: #F09745;
    color: #FFF;
}

#cate-menu .menu.c-giaynu .shoe {
    background: transparent url('images/xam_giaynu.png') no-repeat center center;
}

#cate-menu .menu.c-giaynu:hover {
    background-color: #FF4F66;
}

#cate-menu .menu.c-giaynu:hover .shoe {
    background: transparent url('images/giaynu.png') no-repeat center center;
}

#cate-menu #menu-collapse .menu.c-giaynu .submenu {
    border-left: 5px solid #FF4F66;
}

#cate-menu #menu-collapse .menu.c-giaynu:hover .submenu a:hover {
    background-color: #FF4F66;
    color: #FFF;
}

#cate-menu .menu.c-giaythethao .shoe {
    background: transparent url('images/xam_giaythethao.png') no-repeat center center;
}

#cate-menu .menu.c-giaythethao:hover {
    background-color: #1593EA;
}

#cate-menu .menu.c-giaythethao:hover .shoe {
    background: transparent url('images/giaythethao.png') no-repeat center center;
}

#cate-menu #menu-collapse .menu.c-giaythethao .submenu {
    border-left: 5px solid #1593EA;
}

#cate-menu #menu-collapse .menu.c-giaythethao:hover .submenu a:hover {
    background-color: #1593EA;
    color: #FFF;
}

#cate-menu .menu.c-giaycasual .shoe {
    background: transparent url('images/xam_giaycasual.png') no-repeat center center;
}

#cate-menu .menu.c-giaycasual:hover {
    background-color: #64CA42;
}

#cate-menu .menu.c-giaycasual:hover .shoe {
    background: transparent url('images/giaycasual.png') no-repeat center center;
}

#cate-menu #menu-collapse .menu.c-giaycasual .submenu {
    border-left: 5px solid #64CA42;
}

#cate-menu #menu-collapse .menu.c-giaycasual:hover .submenu a:hover {
    background-color: #64CA42;
    color: #FFF;
}

#cate-menu .menu.c-giayluoi .shoe {
    background: transparent url('images/xam_giayluoi.png') no-repeat center center;
}

#cate-menu .menu.c-giayluoi:hover {
    background-color: #00B9B2;
}

#cate-menu .menu.c-giayluoi:hover .shoe {
    background: transparent url('images/giayluoi.png') no-repeat center center;
}

#cate-menu #menu-collapse .menu.c-giayluoi .submenu {
    border-left: 5px solid #00B9B2;
}

#cate-menu #menu-collapse .menu.c-giayluoi:hover .submenu a:hover {
    background-color: #00B9B2;
    color: #FFF;
}

#cate-menu .menu.c-giayvai .shoe {
    background: transparent url('images/xam_giayvai.png') no-repeat center center;
}

#cate-menu .menu.c-giayvai:hover {
    background-color: #C052B6;
}

#cate-menu .menu.c-giayvai:hover .shoe {
    background: transparent url('images/giayvai.png') no-repeat center center;
}

#cate-menu #menu-collapse .menu.c-giayvai .submenu {
    border-left: 5px solid #C052B6;
}

#cate-menu #menu-collapse .menu.c-giayvai:hover .submenu a:hover {
    background-color: #C052B6;
    color: #FFF;
}

#cate-menu .menu.c-giaybata .shoe {
    background: transparent url('images/xam_giaybata.png') no-repeat center center;
}

#cate-menu .menu.c-giaybata:hover {
    background-color: #FF323C;
}

#cate-menu .menu.c-giaybata:hover .shoe {
    background: transparent url('images/giaybata.png') no-repeat center center;
}

#cate-menu #menu-collapse .menu.c-giaybata .submenu {
    border-left: 5px solid #FF323C;
}

#cate-menu #menu-collapse .menu.c-giaybata:hover .submenu a:hover {
    background-color: #FF323C;
    color: #FFF;
}

.page-index .home-products {
    margin-bottom: 30px;
}

.home-products .heading {
    text-transform: uppercase;
    border-bottom: 1px solid #efeff0;
    margin-bottom: 30px;
}

.home-products .heading .shoe {
    width: 48px;
    height: 48px;
    position: absolute;
}

.home-products .heading.c-giaynam .shoe {
    background: transparent url('images/L_GIAYNAM.png') no-repeat center center;
}

.home-products .heading.c-giaynu .shoe {
    background: transparent url('images/L_GIAYNU.png') no-repeat center center;
}

.home-products .heading.c-giaythethao .shoe {
    background: transparent url('images/L_GIAYTHETHAO.png') no-repeat center center;
}

.home-products .heading.c-giaycasual .shoe {
    background: transparent url('images/L_GIAYCASUAL.png') no-repeat center center;
}

.home-products .heading.c-giayluoi .shoe {
    background: transparent url('images/L_GIAYLUOI.png') no-repeat center center;
}

.home-products .heading.c-giayvai .shoe {
    background: transparent url('images/L_GIAYVAI.png') no-repeat center center;
}

.home-products .heading.c-giaybata .shoe {
    background: transparent url('images/L_GIAYBATA.png') no-repeat center center;
}

.home-products .heading .name {
    background-color: #efeff0;
    font-size: 30px;
    padding: 2px 10px;
    min-height: 47px;
    margin-left: 48px;
}

.home-products .heading .order-opt {
    margin: 14px 15px 0 15px;
}

.home-products .heading .btn-group {
    margin-top: 10px;
}

.home-products .heading .btn-group .btn {
    padding: 4px 12px;
}

.home-products .heading .sub-cate {
    line-height: 46px;
}

.home-products .heading .sub-cate a {
    text-decoration: none;
    color: inherit;
    margin: 0 15px;
}

.home-products .heading .sub-cate a:hover {
    color: #fb5165;
}

.home-products .list a {
    color: #333;
    text-decoration: none;
}

.home-products .list .detail {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border: 1px solid transparent;
    transition: all .3s;
}

.home-products .list .detail .floating {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 14px;
    padding: 6px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    pointer-events: none;
}

.home-products .list .detail:hover {
    border-color: #fc3d35;
}

.home-products .list .p-price {
    color: #fc3d35;
}

.home-products .pagination li a {
    border-radius: 0;
    border: none;
    background-color: #e4e4e4;
    color: #020527;
}

.home-products .pagination li.active a {
    background-color: #020527;
    color: #FFF;
}

#product-slide .carousel-inner {
    margin-bottom: 10px;
}

#product-slide .carousel-inner > .item img {
    min-width: 100%;
}

#product-slide .indicators .thumbnails > div {
    padding: 0 2px;
}

#product-slide .indicators .navigator a {
    display: block;
    color: #efeff0;
}

#product-detail {
    margin-bottom: 50px;
}

#product-detail .info h2,
#product-detail .info h3 {
    margin-top: 0;
}

#product-detail .info h4 {
    margin: 20px 0;
}

#product-detail .info h3 {
    color: #ef1f21;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}

#product-detail .info .size {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#product-detail .info .stock {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#product-detail .info .color .active {
	font-weight: bold;
}

#product-detail .info .size li {
    border: 1px solid #efeff0;
    display: inline-block;
    margin-right: 5px;
    width: 34px;
    text-align: center;
}

#product-detail .info .size li a {
	padding: 5px 8px;
	color: inherit;
	display: block;
	text-decoration: none;
}

#product-detail .info .size li.active {
	background-color: #CCC;
}

#product-detail .info .stock li {
    padding: 6px 9px;
    display: inline-block;
    margin-right: 5px;
    width: 34px;
    text-align: center;
}

#product-detail .info #quantity {
    max-width: 70px;
    border-radius: 0;
    text-align: center;
}

.checkout-btn {
    background-color: #ef1f21;
    color: #FFF;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 20px 10px 60px;
    margin: 15px 0;
    border: none;
    border-radius: 0;
    position: relative;
}

.checkout-btn:hover,
.checkout-btn:visited {
    background-color: #d2181a !important;
    color: #FFF;
}

.checkout-btn:active,
.checkout-btn:focus {
    background-color: #ef1f21 !important;
    color: #FFF;
	outline: none;
}

.checkout-btn i{
    position: absolute;
    left: 0;
    top: 0;
    padding: 13.5px 18px;
    background-color: #d2181a;
}

#product-detail .heading {
    text-transform: uppercase;
    color: #717171;
    border-bottom: 1px solid #efeff0;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

#product-detail .detail .context {
    padding: 0 15px 15px 15px;
}

#product-detail .relate {
    box-shadow: -15px 0 45px -30px;
}

#product-detail .relate .item {
    margin-bottom: 30px;
}

#product-detail .relate .item a{
    color: #333;
    text-decoration: none;
}

#product-detail .relate .item img {
    min-width: 100%;
}

#product-detail .relate .item .p-name {
    margin: 10px 0;
}

#product-detail .relate .item .p-price {
    color: #fc3d35;
}

#cart-info {
    margin-bottom: 30px;
}

#cart-info .heading {
    color: #666666;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 15px;
    padding-bottom: 5px;
    font-size: 20px;
}

#cart-info .p-qty {
    display: inline-block;
}

#cart-info .p-qty div,
#cart-info .p-qty input {
    width: 20px;
    height: 20px;
    line-height: 17px;
    text-align: center;
}

#cart-info .p-qty .qty-btn{
    background-color: #e4e4e4;
    cursor: pointer;
}

#cart-info .p-qty .val{
	border: none;
	outline: none;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    font-size: 13px;
}

#cart-info .total,
#cart-info .del-btn {
    color: #fc3d35;
}

#cart-info .item {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #e4e4e4;
}

#cart-info .thumb {
    min-width: 100%;
}

#cart-info .checkout-btn{
    margin: 30px 0;
}

#cart-info .option-detail {
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer {
    padding: 30px 30px 0 30px;
    color: #FFF;
    background-color: #020527;
    margin-left: -30px;
    margin-right: -30px;
    font-size: 14px;
}

.page-index footer {
    margin-top: 70px;
}

footer .heading {
    color: #fc3d35;
}

footer .cate a {
    color: inherit;
    display: block;
    line-height: 24px;
}

footer .subscribe .text {
    margin: 15px 0;
}

footer .subscribe .form-control {
    border-radius: 0;
    border: none;
}

footer .subscribe .input-group-btn .btn {
    background-color: #fc3d35;
    border: none;
    color: #FFF;
    margin: 0;
    border-radius: 0;
    height: 34px;
}

footer #copyright {
    border-top: 1px solid #070d4a;
    text-align: center;
    padding: 15px 0;
    margin-top: 30px;
    text-transform: uppercase;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-25,
.col-sm-25,
.col-md-25,
.col-lg-25 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.col-xs-25 {
    width: 40%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
    .col-sm-25 {
        width: 40%;
        float: left;
    }
    #cate-menu {
        margin-right: -15px;
    }
    .page-product #top-main .breadcrumb {
        background-color: #e4e4e4;
        margin-left: -15px;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .col-md-25 {
        width: 40%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
    .col-lg-25 {
        width: 40%;
        float: left;
    }
}
